.textcontent{
    padding-top:50px;
}
.textcontent h1{
   font-size:60px;
}

  .login{
      border-radius: 4px;
  }
  input[type=text]{
    padding: 12px;
    margin: 8px 12px;
    margin-left:40px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type=password]{
    padding: 12px;
    margin: 8px 12px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box
  }
  button {
    background-color: #4286f4;
    color: white;
    padding: 14px 20px;
    margin: 10px 10px;
    border: none;
    cursor: pointer;
  }
  .ride-title{
      padding-top:50px;
  }
  .ride-list{
      margin:0 auto;
      width:80%;
      margin-top:50px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .car-details{
      margin-left:200px;
      padding-top:30px;
  }