.home_componnent {
  background-color: #232426;
  margin: 0 auto;
  height: 100vmin;
}

.home_componnent h1 {
  margin-top: 0;
  text-align: center;
  color: #fff;
  padding-top: 3%;
  font-family: "Tinos", serif;
  font-size: 35px;
  font-weight: bold;
}

.login,
.register {
  margin: auto;
  width: 25%;
  border: 1px solid #7c7e7e;
  margin-top: 100px;
  background-color: #fff;
  padding: 35px;
  border-radius: 5px;
  font-family: "Exo", sans-serif;
}

::placeholder {
  font-family: "Exo", sans-serif;
}

.login label .register label .destination label {
  display: block;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 2px;
}

.login input[type="email"],
input[type="password"],
.register input[type="email"],
.register input[type="password"],
.register input[type="text"],
.destination input[type="text"] {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.login button,
.register button,
.destination button {
  display: block;
  margin-top: 20px;
  width: 100%;
  padding: 10px 15px;
  color: #fff;
  font-size: 15px;
  background-color: #3b81bf;
  font-weight: bold;
  border-radius: 50px;
}

.login .nav-links {
  padding-top: 30px;
}

.login .nav-links .signup {
  float: right;
}

.register .nav-links {
  padding-top: 20px;
}

.register .nav-links li {
  color: #000;
  list-style: none;
  cursor: pointer;
  float: right;
}

.login .nav-links li,
.register .nav-links li {
  color: #000;
  list-style: none;
  cursor: pointer;
}

.register select {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.register option {
  font-family: "Exo", sans-serif;
  font-size: 15px;
}

.navbar {
  height: 10vmin;
  overflow: hidden;
  box-shadow: 0 8px 6px -6px rgb(155, 153, 153);
  z-index: 100;
  top: 0;
}

.navbar header nav ul {
  margin: 0 auto;
  list-style-type: none;
  overflow: hidden;
  z-index: 100;
}

.navbar a {
  text-align: center;
  padding-top: 16px;
  text-decoration: none;
  font-size: 17px;
  color: #fff;
}

.navbar .brand a {
  float: left;
  color: #000;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  line-height: 1.2em;
}

.navbar .pull-right {
  float: right;
  width: 80%;
  background-color: #232426;
  height: 10vmin;
}

.navbar .pull-right li a {
  float: right;
  margin-right: 50px;
  font-family: "Poppins", sans-serif;
}
.navbar .pull-right li a span {
  margin-right: 15px;
  text-align: center;
}
.navbar .pull-right li a img {
  border-radius: 50%;
  width: 37px;
  height: 37px;
  vertical-align: middle;
  border-style: none;
}
.badge {
  position: relative;
}
.badge[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 0.7em;
  background: rgb(243, 26, 26);
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  box-shadow: 0 0 1px #333;
}

.sidebar {
  height: 100%;
  width: 23%;
  z-index: 1;
  left: 0;
  position: absolute;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar ul li {
  list-style-type: none;
}
.sidebar a {
  padding-left: 40px;
  text-decoration: none;
  font-size: 13px;
  color: #464646;
  display: block;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}

.sidebar a i {
  margin: 15px;
}
.sidebar a {
  cursor: pointer;
}
.sidebar a .fa-angle-right {
  float: right;
  margin-right: 40px;
}

.sidebar li:hover {
  background-color: #f7fcfd;
}
.sidebar a:hover {
  color: rgb(74, 74, 247);
}
.close-navlinks {
  display: none;
}
.open-navlinks {
  display: block;
}
.sidebar button {
  margin: 40px;
  padding: 13px;
  width: 200px;
  color: #fff;
  background-color: #00c851;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
  border-style: none;
  cursor: pointer;
}
.main {
  float: right;
  width: 77%;
  background-color: #f2f8f9;
  height: 100vmin;
}

.destination {
  margin: auto;
  width: 40%;
  border: 1px solid #7c7e7e;
  margin-top: 100px;
  background-color: #fff;
  padding: 35px;
  border-radius: 5px;
  font-family: "Exo", sans-serif;
  box-shadow: 3px 3px 3px 3px #7c7e7e;
}

.table {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 5%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 40px;
  font-family: "Poppins", sans-serif;
}
.table table {
  border-collapse: collapse;
  width: 100%;
}
table,
th,
td {
  border: 1px solid #f2f2f2;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.heading_content button {
  padding: 13px;
  width: 100px;
  color: #fff;
  background-color: #00b3fa;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
  border-style: none;
  cursor: pointer;
}

.search {
  float: right;
  margin-bottom: 15px;
}

.search input[type="text"] {
  padding: 10px 6px;
  box-sizing: border-box;
  border-radius: 5px;
}

.passenger_info {
  top: 40%;
  position: absolute;
  right: 40%;
  width: 50px;
}

.passenger_info button,.profile_body button {
  padding: 13px;
  cursor: pointer;
  color: #fff;
  background-color: #3033e4;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  border-style: none;
  width: 120px;
}

.profile_info{
  height:60%;
  width:30%;
  float:right;
  background-color:#fff; 
  margin:20px;
  margin-top:60px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius:5px; 
}

.profile_info .profile_image{
    width: 130px;
    height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.profile_info .profile_image img{
    width: 100%;
    height: auto;
}

.profile_info .profile_body{
    padding: .9rem 10px;
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.profile_body h6{
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #999!important;
}
.profile_body h4{
    font-size: 1.125rem;
    font-weight:400;
    line-height: 1.4em;
}

.profile_body p{
  color: #999!important;
  font-size: 14px;
}
.profile_edit{
    border: 0;
    margin-left: 20px;
    margin-top: 60px;
    border-radius: 6px;
    color: #333;
    background: #fff;
    width: 48%;
    height:90%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    position:absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eee;
    border-radius: .25rem;
    font-size: .79rem;
    font-family: "Poppins", sans-serif;
}

.profile_header{
    border-radius: 3px;
    margin-top: -20px;
    padding: 10px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(236, 231, 236, 0.4);
    background: linear-gradient(60deg,#ececf3,#ececf3);
    margin: 0 15px;
    position: relative;
    z-index:3;
}
.profile_header p{
      display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.profile_form{
  padding-top:50px;
}

.form-group {
    padding-bottom: 10px;
    position: relative;
    margin: 8px;
    width: 45%;
    float:left;

}

.form-group .form-control{
  background: no-repeat bottom,50% calc(100% - 1px);
    background-size: 0 100%,100% 100%;
    border: 0;
    height: 36px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: .4375rem 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border-bottom: 1px solid #d2d2d2;
    outline:0
}

.form-group ::placeholder{
    color: #aaa;
    will-change: left,top,contents;
    line-height: 1.4;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    transition: all .3s ease;
    padding-left:10px;  
    font-family: "Poppins", sans-serif;
    font-size:0.85em;
}

.profile_form button{
  padding: 13px;
  margin-left:40% ;
  margin-top:10%;
  cursor: pointer;
  color: #fff;
  background-color: #3033e4;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  border-style: none;
  width: 120px;
  outline: 0;
}

.dashboard{
  padding-top:30px;
}
.dashboard .cards{
 height:125px;
 width: 21%;
 background-color: #fff;
 float:left;
 margin:20px;
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
 border-radius:10px;
 position:relative;
}
.card-header{
    margin: 0 15px;
    padding: 0;
    position: relative;
    border-bottom: none;
    background: transparent;
 
}
.card-header .card_icon{
    border-radius: 3px;
    padding: 15px;
    margin:-20px auto;
    height:100%;
    width:40%;
    color:#fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
.card-header .blue{
      background-color: rgb(20, 102, 150);
}
.card-header .orange{
  background-color: rgb(255, 196, 0);
}
.card-header .green{
  background-color: rgb(86, 170, 47);
}
.card-header .red{
  background-color: rgb(211, 29, 29);
}
.card_icon i {
    font-size: 40px;
    line-height:40px;
    width: 40px;
    height: 40px;
}
.card-header .card-text{
  padding-top:16px;
  text-align:center;
}
.card-header .card-text p{
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #999!important;
  font-family: "Poppins", sans-serif;
}
.card-header .card-text h4{
   margin:10px;
   font-size:1em;
   color:#5e5e5e;
}