.home_componnent {
  background-color: #232426;
  margin: 0 auto;
  height: 100vmin;
}
.home_componnent h1 {
  margin-top: 0;
  text-align: center;
  color: #fff;
  padding-top: 3%;
  font-family: "Tinos", serif;
  font-size: 35px;
  font-weight: bold;
}
